body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "roboto";
}

p {
    font-family: "roboto";
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #0b3c5dbe;
    display: grid;
    grid-template-columns: 150px auto;

}

header nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    justify-self: center;
    align-self: center;
}
header a img {
    max-height: 110px;
    margin-top: 0px;
    margin-bottom: -15px;
}
nav a {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 10px;
}

nav a:hover {
    background-color: whitesmoke;
    color: #0B3C5D;
}

#hero {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-image {
    max-width: 100%;
}
#hero-message{
    margin-top: 120px;
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-message h1 {
    text-align: center;
    color: #ffffff;
    font-family: "roboto";
    font-size: 50px;
    padding-top: 10px;
    margin-bottom: 60px;
}

#hero-message h4 {
    text-align: center;
    font-family: "roboto";
    color: white;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    margin-top: 140px;
    margin-bottom: 140px;
}
.card-image, #mountain-img {
    width: 100%;
}
.card-image {
    border: 10px solid #F28C28;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-image:hover {
    opacity: .6;
    transform: scale(1.1);
}
.river-card {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
#mountain-img {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #00000046;
}
#footer-section {
    grid-column: 6/10;
    grid-row: 6/7;   
    box-shadow: 5px 5px 10px #0000005b;
}
section h2 {
    font-family: "roboto";
}

section a {
    font-family: "roboto";
}

.button-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.book {
    background-color: #F28C28;
    color: whitesmoke;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: "roboto";
}

.book:hover {
    background-color: #F28C28;
    color: whitesmoke;
}

.join {
    background-color: #F28C28;
    color: whitesmoke;
    font-family: "roboto";
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.join:hover {
    background-color: whitesmoke;
    color: #2E5E4E;
}

#background {
    margin-top: 20px;
    background-color: #2E5E4E;
    height: 725px;
}

#nav-logo {
    max-width: 100px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0B3C5D;
    color: whitesmoke;
}

#footer-section {
    background-color: #0b3c5dbe;
    color: whitesmoke;
    padding: 50px;
}

footer a {
    color: whitesmoke;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header {
    background-color: #0b3c5d;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-message {
        margin-top: 0;
    }
    #hero-message h4 {
        display: none;
    }
    #hero-message h1 {
        color: #171717;
        margin-bottom: 0;
    }
    .book {
        width: 200px;
        height: 50px;
        margin-top: 20px;
    }
    .home-title {
        font-size: 25px;
    }
    .river-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, #footer-section {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    #footer-section {
        background-color:#0b3c5d ;
        margin-top: 50px;
    }
    footer {
        margin-top: 25px;
    }
}