* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header button {
    border: 0px solid transparent;
    background-color: transparent;
    font-size: medium;
}
header button:hover {
    color: #2277ff;
}
body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 120px;
}
main h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #2277ff;
    margin-bottom: 10px;
    text-align: center;
}
main h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #0f0f0f;
    margin: auto;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #0f0f0f;
    margin-bottom: 10px;

}
main a {
    display: block;
    text-decoration: underline;
    color: #2277ff;
    margin-bottom: 50px;
    text-align: center;
}
main {
    width: 600px;
}