body {
    text-align: center;
    background-color: black;

}

img {
    max-width: 800px;
    border: 4px solid white;
}

nav {
    background-color: steelblue;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;

}

h1 {
    color: white;    

}

footer {
    color: white;
    background-color: steelblue;
    padding: 20px;
}

footer p {
    margin: 0px;

}